@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
body {
  overflow-x: hidden;
}
.footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  // min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resume {
  background-color: yellow;
  max-width: 800px;
  min-height: fit-content;
  padding-bottom: 3rem;
  margin: 0 auto;
  background-color: rgba($color: #ffff, $alpha: 0.2);
  border-radius: 1rem;
  position: relative;
  margin: 3rem;
  margin-top: 6rem;
  // height: 80%;

  @include mobile() {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 9rem;
  }
  nav {
    display: flex;
    gap: 8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    // justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      list-style: none;

      li .resume-link {
        font-size: 3rem;
        color: white;
      }

      li .resume-link:hover {
        filter: drop-shadow(0 0 1rem white);
      }
    }

    @include mobile() {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.section {
  background-color: white;
  margin-top: 1rem;
  color: black;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.4rem;
  margin-bottom: 2rem;
  flex-direction: column;
  height: 435px;
  text-overflow: ellipsis;
}

.title {
  text-align: center;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  @include mobile() {
    flex-direction: column-reverse;
  }
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.more-info-btn {
  width: max-content;
  align-self: center;
}
.project-tab-btn {
  color: black;
  background-color: white;
  border: none;
  align-self: center;
  justify-self: center;
}

.active-btn {
  padding-left: 1rem;
  border-left: 0.2rem black solid;
}

// .hero-section {
//   // padding: 1rem;
// }

.name-holder {
  font-size: 8rem;
  padding: 10px;
  width: max-content;
  margin-bottom: 2rem;

  padding-top: 20px;
  font-family: "Impact", sans-serif;
  text-align: center;
  mix-blend-mode: multiply;
  user-select: disable;
  cursor: grab;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.resume-link-btn {
  margin-top: 10px;
  font-size: 2rem;
  background-color: rgba($color: #ffff, $alpha: 0.2);
  border-radius: 1rem;
  padding: 0.5rem;
}
.dev-name::first-letter {
  color: blue;
  font-weight: 900;
}

.logo {
  width: 10%;
}

a.link {
  color: "red" !important;
  text-decoration: none;
}

.printer {
  margin-right: 10px;
}

.aboutme {
  background-image: linear-gradient(60deg, #e21143, #ffb03a);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.devname {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bluegrad {
  font-family: "Lobster";
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#email {
  background-color: white;
  outline: none;
  border: none;
  padding: 0.5rem;
  color: #202020;
  border-radius: 1rem;
  width: 70%;
  font-size: 1.5rem;
  @include mobile() {
    width: 100%;
    font-size: 1rem;
  }
}

#message {
  background-color: white;
  outline: none;
  border: none;
  // padding: .5rem;
  color: #202020;
  border-radius: 1rem;
  width: 70%;
  font-size: 1rem;
  padding: 1rem;

  @include mobile() {
    width: 100%;
    font-size: 1rem;
  }
}
label {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.sendmessage {
  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: 700;
  background-color: #1db954;
}
.sendmessage:hover {
  filter: drop-shadow(0 0 0.5rem white);
}

// INFINITE LOGOS

.slider {
  max-height: 250px;
  margin: auto;
  // position: relative;
  background-color: rgba($color: #ffff, $alpha: 0.4);
  box-shadow: #202020 0 0 0 1xp;
  overflow: hidden;
  box-shadow: 10px 18px 16px 5px rgba(43, 43, 43, 0.3);
  -webkit-box-shadow: 10px 18px 16px 5px rgba(43, 43, 43, 0.3);
  -moz-box-shadow: 10px 18px 16px 5px rgba(43, 43, 43, 0.3);
  overflow: hidden;

  @include mobile() {
  }
}

.slide-track {
  display: flex;
  flex-direction: row;
  width: calc(250px * 23);
  animation: 30s infinite scroll;

  overflow: hidden;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  // padding: 15px;
  perspective: 100px;
}

.infintelogo {
  font-size: 7rem;
  width: 100%;

  @include mobile() {
    font-size: 6rem;
  }
}
.infintelogo:hover {
  color: white;
  filter: drop-shadow(0 0 3rem white);
  transform: translateZ(10px);
  transition: transform 1s ease-out;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%); /* The image width */
  }
}

.contentBoxLogo {
  font-size: 5rem;
  position: absolute;
  top: -2rem;
  left: 5.5rem;
  color: #303030;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.styledIconBtn {
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.styledIconBtn{
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;

}
 .styledIconBtn:hover{
  background: linear-gradient(
    to left,
    #6a82fb,
    #fc5c7d
  );
  transition: background transform 100ms ease-in-out;

}

.herosection-logo{
  font-size: 5rem;
  cursor:pointer;
}

.herosection-logo:hover{
  filter:drop-shadow(0 0 2rem white);
 
}

.homecontainer{
  height: 100vh;
  width: 100vw;
}